@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

:root {
  --primary-color: #42b983;
  --bg-color: #292828;
  --text-color: #ffffff;
  --font-family: 'Nata Sans', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
